#home {
  position: relative;
  background: linear-gradient(119deg, $white, #e3e3e3);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 34s ease infinite;
  -moz-animation: AnimationName 34s ease infinite;
  animation: AnimationName 34s ease infinite;

  .scroll-down {
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    fill: $link-color;
  }
}

@-webkit-keyframes gradientFlow {
  0%{background-position:0% 30%}
  50%{background-position:100% 71%}
  100%{background-position:0% 30%}
}
@-moz-keyframes gradientFlow {
  0%{background-position:0% 30%}
  50%{background-position:100% 71%}
  100%{background-position:0% 30%}
}
@keyframes gradientFlow {
  0%{background-position:0% 30%}
  50%{background-position:100% 71%}
  100%{background-position:0% 30%}
}