#home {
  position: relative;
  background: linear-gradient(119deg, #ffffff, #a5a5a5);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 34s ease infinite;
  -moz-animation: AnimationName 34s ease infinite;
  animation: AnimationName 34s ease infinite;
}

#intro-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

@-webkit-keyframes gradientFlow {
  0%{background-position:0% 30%}
  50%{background-position:100% 71%}
  100%{background-position:0% 30%}
}
@-moz-keyframes gradientFlow {
  0%{background-position:0% 30%}
  50%{background-position:100% 71%}
  100%{background-position:0% 30%}
}
@keyframes gradientFlow {
  0%{background-position:0% 30%}
  50%{background-position:100% 71%}
  100%{background-position:0% 30%}
}