header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  font-family: 'eb_garamond_med';
  padding: .35rem .67rem;
  position: relative;

  &:after {
    content: '';
    display: block;
    background-color: darken($link-color,20%);
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    transform: translateX(-50%) scaleX(0);
    transition: all .2s ease-in-out;
  }

  &:hover {
    &:after {
      transform: translateX(-50%) scaleX(1);
    }
  }
}