.project-card {
  width: 50%;
  color: white;
  background-color: $link-color;
  opacity: .5;

  @include media-breakpoint-up(md) {
    width: 25%;
  }

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &:nth-of-type(2) {
    background-color: $gray-400;
  }
}