@font-face {
  font-family: 'eb_garamond_med';
  src: url('../../fonts/ebgaramond-medium-webfont.woff2') format('woff2'),
       url('../../fonts/ebgaramond-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_grotesk_med';
  src: url('../../fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
       url('../../fonts/hkgrotesk-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hk_grotesk_reg';
  src: url('../../fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
       url('../../fonts/hkgrotesk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1,h2 {
  font-family: 'eb_garamond_med';
  text-align: center;

  & > span {
    position: relative;

    &:after {
      content: '';
      height: 1px;
      background-color: $dark-color;
      width: 50%;
      left: 50%;
      position: absolute;
      bottom: -0.35rem;
      transform: translateX(-50%);
    }
  }
}

.subtitle {
  font-size: 1rem;
  letter-spacing: .115rem;
  color: $gray-color;
  text-transform: uppercase;
}

a {
  transition: all .2s ease-in-out;

  &:hover {
    text-decoration: none;
    color: darken($link-color, 25%);
  }
}