// LOADING PANEL
.panel-loading {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}

// Loading spinner
.spinner {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .spinner-text {
    font-family: 'eb_garamond_med';
    letter-spacing: -0.25rem;
    margin-left: -0.25rem;
    font-size: 1.5rem;
    color: $link-color;
  }

  .spinner-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $link-color;
    animation: spinner 2s ease-in-out infinite;
  }
}

// Spinner Animation
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}